* {
  box-sizing: border-box;

}

:root {
  --font-primary: "Poppins", sans-serif;
  --font-heading: "Sen", sans-serif;
  --cta-color: #ffb900;
  --background-color: #fffcf4;
}



body {
  font-family: var(--font-primary);
  font-size: 1.6rem;
}

html {
  height: 5109px;
  font-size: 62.5%;
}

header {
  background: #fffcf4;
}

.trang-1 {
  width: 2000px;
  height: 900px;
  flex-shrink: 0;
  background: #fffcf4;
}


.trang-2 {
    width: 2000px;
  height: 1045px;
  flex-shrink: 0;
  background: #fff;
}


header {
  background: #fffcf4;
}

.container {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.logo-lesson-1 {
  width: 85px;
  height: auto;
  position: relative;
  top: 22px;
  left: 0px;
  right: 0px;
  left: 135px;
}

.header-menu {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  height: 28px;
  width: 235px;
}

.menu {
  display: flex;
  text-align: center;
  position: relative;
  top: 27px;
  left: 597px;
  bottom: 825px;
  right: 659px;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #5f5b53;
  margin-right: 42px;
}

.Home {
  color: #171100;
}

.H {
  text-decoration: underline;
}

.Reviews {
  text-decoration: none;
}

.sign-up {
  width: 144px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 24.5px;
  background: #171100;
  color: #fff;
  text-align: center;
  line-height: 50px;
  position: relative;
  top: 29px;
  left: 630px;
  bottom: 814px;
  right: 135px;
  margin-right: 0px;
}

.clear {
  clear: both;
}

.avatar {
  width: 400px;
  height: 615px;
  flex-shrink: 0;
  position: absolute;
  top: 114px;
  left: 135px;
  right: 835px;
  bottom: 64px;
  border-radius: 20px;
}

h1 {
  display: block;
  color: #171100;
  font-family: "Nunito", sans-serif;
  font-size: 58px;
  font-weight: 700;
  line-height: 68px;
  width: 470px;
  letter-spacing: -1.16px;
  flex-shrink: 0;
  position: absolute;
  top: 187px;
  left: 835px;
  right: 135px;
  bottom: 499px;
}

.noi-dung {
  width: 470px;
  color: #5f5b53;
  font-size: 18px;
  font-weight: 12;
  font-family: "Nunito", sans-serif;
  flex-shrink: 0;
  position: absolute;
  top: 429px;
  left: 835px;
  right: 135px;
  bottom: 381px;
}

.nen-trang {
  width: 270px;
  height: 244px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 404px;
  left: 435px;
  right: 735px;
  bottom: 112px;
}

.yellow {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  position: absolute;
  top: 28px;
  left: 24px;
  right: 198px;
  bottom: 168px;
}

.page {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  position: absolute;
  top: 40px;
  left: 36px;
  right: 210px;
  bottom: 180px;
}


.courses-1 {
  color: #5f5b53;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  position: absolute;
  top: 24px;
  left: 88px;
  right: 104px;
  bottom: 194px;
}

.ui-ux-Design {
  color: #171100;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  position: absolute;
  top: 50px;
  left: 88px;
  right: 63px;
  bottom: 164px;

}

.purple {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  position: absolute;
  top: 98px;
  left: 24px;
  right: 198px;
  right: 198px;
  bottom: 98px;
}

.window {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  position: absolute;
  top: 110px;
  left: 36px;
  right: 210px;
  bottom: 110px;
}

.courses-2 {
  color: #5f5b53;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  position: absolute;
  top: 94px;
  left: 88px;
  right: 104px;
  bottom: 124px;
}


.Development {
  color: #171100;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  position: absolute;
  top: 120px;
  left: 88px;
  right: 58px;
  bottom: 94px;
}

.blue {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  position: absolute;
  top: 168px;
  left: 24px;
  right: 198px;
  bottom: 28px;
}

.micro {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  position: absolute;
  top: 180px;
  left: 36.75px;
  right: 210px;
  bottom: 40px;
}

.courses-3 {
  color: #5f5b53;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  position: absolute;
  top: 164px;
  left: 88px;
  right: 103px;
  bottom: 54px;
}


.Marketing {
  color: #171100;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  position: absolute;
  top: 190px;
  left: 88px;
  right: 88px;
  bottom: 24px;
}

.button-see-courses {
  width: 180px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 32px;
  background: #ffb900;
  text-align: center;
  line-height: 65px;
  font-family: "Exo 2", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 570;
  position: absolute;
  top: 507px;
  left: 835px;
  bottom: 296px;
  right: 458px;
}

.button-video {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  position: absolute;
  top: 508px;
  left: 1020px;
  right: 357px;
  bottom: 291px;
}

.Watch-video {
  width: 148px;
  color: #171100;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  position: absolute;
  top: 524px;
  left: 1097px;
  right: 195px;
  bottom: 296px;
}

.recent-engagement {
  width: 300px;
  color: #5f5b53;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  position: absolute;
  top: 629px;
  left: 835px;
  right: 419px;
  bottom: 201px;
}

.nam-muoi-k {
  color: #171100;
  font-family: "Sen", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
}

.hon-70 {
  color: #171100;
  font-family: "Sen", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
}

.Students {
  width: 300px;
  color: #5f5b53;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  position: absolute;
  top: 667px;
  left: 835px;
  right: 433px;
  bottom: 139px;
  display: flex;
}

.Courses {
  width: 300px;
  color: #5f5b53;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  position: absolute;
  top: 667px;
  left: 1036px;
  right: 244px;
  bottom: 139px;
  display: flex;
}

.tieu-de-2 {
  color: #171100;
  font-family: "Exo 2", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.76px;
  position: absolute;
  top: 1100px;
  left: 135px;
}

.noi-dung-2 {
  width: 458px;
  color: #5f5b53;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  position: absolute;
  top: 1164px;
  left: 135px;
}

.danh-gia-1 {
  width: 370px;
  height: 466px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 1279px;
  left: 135px;
}

.basic-web {
  color: #171100;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.title-basic-web {
  color: #171100;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  position: absolute;
  top: 294px;
  left: 22px;
}

.noi-dung-basic-web {
  width: 326px;
  height: 52px;
  color: #5f5b53;
  font-family: "Exo 2", sans-serif;
  font-size: 16x;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  position: absolute;
  top: 330px;
  left: 22px;
  right: 22px;
}

.star-1 {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  position: absolute;
  top: 300px;
  left: 300px;
}

.danh-gia-basic-web {
  color: #fea31b;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  position: absolute;
  top: 295px;
  right: 22px;
}

.gia-tien-1 {
  color: #171100;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  position: absolute;
  top: 404px;
  left: 22px;
}

.book-now-1 {
  color: #FFF;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px;
  width: 118px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #FFB900;
  position: absolute;
  top: 394px;
  left: 230px;
}

.danh-gia-2 {
  width: 370px;
  height: 466px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 1279px;
  left: 535px;
}

.ui-ux {
  color: #171100;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.title-ui-ux {
  color: #171100;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  position: absolute;
  top: 294px;
  left: 22px;
}

.noi-dung-ui-ux {
  width: 326px;
  height: 52px;
  color: #5f5b53;
  font-family: "Exo 2", sans-serif;
  font-size: 16x;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  position: absolute;
  top: 330px;
  left: 22px;
  right: 22px;
}

.star-2 {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  position: absolute;
  top: 300px;
  left: 300px;
}

.danh-gia-ui-ux {
  color: #fea31b;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  position: absolute;
  top: 295px;
  right: 22px;
}

.gia-tien-2 {
  color: #171100;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  position: absolute;
  top: 404px;
  left: 22px;
}

.book-now-2 {
  color: #FFF;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px;
  width: 118px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #171100;
  position: absolute;
  top: 394px;
  left: 230px;
}


.danh-gia-3 {
  width: 370px;
  height: 466px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 1279px;
  left: 935px;
}

.web-app {
  color: #171100;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.title-web-app {
  color: #171100;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  position: absolute;
  top: 294px;
  left: 22px;
}

.noi-dung-web-app {
  width: 326px;
  height: 52px;
  color: #5f5b53;
  font-family: "Exo 2", sans-serif;
  font-size: 16x;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  position: absolute;
  top: 330px;
  left: 22px;
  right: 22px;
}

.star-3 {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  position: absolute;
  top: 300px;
  left: 300px;
}

.danh-gia-web-app {
  color: #fea31b;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  position: absolute;
  top: 295px;
  right: 22px;
}

.gia-tien-3 {
  color: #171100;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  position: absolute;
  top: 404px;
  left: 22px;
}

.book-now-3 {
  color: #FFF;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px;
  width: 118px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #171100;
  position: absolute;
  top: 394px;
  left: 230px;
}

.trang-3 {
  width: 100%px;
  height: 380px;
  flex-shrink: 0;
  background: #2E2100;
  position: relative;
}

.avatar-2 {
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 72px;
  position: absolute;
  top: 96px;
  left: 135px;
}

.Peter {
  color: #F7F7F7;
  font-family: "Exo 2", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  position: absolute;
  top: 186px;
  left: 135px;
}

.Student-web {
  color: #BFBCB2;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  position: absolute;
  top: 224px;
  left: 135px;
  right: 1146px;
  bottom: 130px;
}


.trang-3 p:nth-child(8) {
  width: 700px;
  font-family: "Exo 2", sans-serif;
  color: #FFF;
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  line-height: 40px;
  position: absolute;
  top: 124px;
  left: 565px;
  right: 135px;
  bottom: 96px;
}

.Vector {
  width: 30px;
  height: 28px;
  flex-shrink: 0;
  fill: #632e00;
  position: absolute;
  top: 96px;
  left: 535px;
  right: 875px;
  bottom: 256px;
}

.trang-3 div {
  width: 6px;
  height: 6px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #634700;
  display: flex;

}

.trang-3 div:nth-child(4) {
  position: absolute;
  top: 278px;
  left: 135px;
  right: 1299px;
  bottom: 96px;
}

.trang-3 div:nth-child(6) {
  position: absolute;
  top: 278px;
  left: 159px;
  right: 1275px;
  bottom: 96px;
}

.trang-3 div:nth-child(5) {
  border-radius: 6px;
  background: #FFB900;
  position: absolute;
  top: 278px;
  left: 147px;
  right: 1287px;
  bottom: 96px;
}

.trang-4 {
  width: 100%;
  height: 1476px;
  flex-shrink: 0;
  position: relative;
}

.frame-1 {
  width: auto;
  height: 438px;
  flex-shrink: 0;
  position: absolute;
  top: 200px;
  left: 135px;
  right: 135px;
  bottom: 840px;
}

.frame-1 img:nth-child(1) {
  width: 270px;
  height: 404px;
  flex-shrink: 0;
  position: absolute;
  top: 34px;
  right: 30px;
  left: 0px;
  bottom: 840px;
}

.frame-1 img:nth-child(2) {
  width: 270px;
  height: 405px;
  flex-shrink: 0;
  border-radius: 16px;
  position: absolute;
  top: 0px;
  right: 735px;
  bottom: 873px;
  left: 300px;
}

.frame-1 p:nth-child(3) {
  width: 470px;
  color: #171100;
  font-family: "Exo 2", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.76px;
  position: absolute;
  top: 58px;
  right: 0px;
  bottom: 284px;
  left: 700px;
}

.frame-1 p:nth-child(4) {
  width: 458px;
  color: #5F5B53;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  position: absolute;
  top: 170px;
  left: 700px;
  bottom: 151px;
  right: 12px;
}

.frame-1 p:nth-child(5) {
  width: 458px;
  color: #5F5B53;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  position: absolute;
  top: 270px;
  left: 700px;
  right: 0px;
  bottom: 107px;
}

.frame-1 p:nth-child(6) {
  width: 137px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 26px;
  background: #FFB900;
  color: #FFF;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 550;
  line-height: 51px;
  position: absolute;
  top: 330px;
  left: 700px;
  bottom: 25px;
  right: 333px;
}

.frame-2 {
  width: auto;
  height: 438px;
  flex-shrink: 0;
  position: absolute;
  top: 838px;
  left: 135px;
  right: 135px;
  bottom: 200px;
}

.frame-2 img:nth-child(1) {
  width: 470px;
  height: 440px;
  flex-shrink: 0;
  border-radius: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 700px;
  bottom: 0px;
}

.frame-2 p:nth-child(2) {
  width: 570px;
  color: #171100;
  font-family: "Exo 2", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.76px;
  position: absolute;
  top: 70px;
  left: 0px;
  right: 600px;
  bottom: 225px;
}

.frame-2 p:nth-child(3) {
  width: 570px;
  color: #5F5B53;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  position: absolute;
  top: 231px;
  left: 0px;
  right: 600px;
  bottom: 153px;
}

.frame-2 p:nth-child(4) {
  color: #FFF;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 550;
  line-height: 51px;
  width: 137px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 26px;
  background: #FFB900;
  position: absolute;
  top: 319px;
  bottom: 71px;
  left: 0px;
  right: 1033px;
}

.trang-5 {
  width: 100%;
  height: 878px;
  flex-shrink: 0;
  position: relative;
}

.trang-5 div:nth-child(1) {
  width: 100%;
  height: 878px;
  background: #FFFCF4;
}

.trang-5 p:nth-child(1) {
  color: #130606;
  font-family: "Exo 2", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.76px;
  position: absolute;
  top: 96px;
  left: 643px;
  right: 643px;
  bottom: 734px;
}

.trang-5 p:nth-child(2) {
  color: #696262;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  width: 448px;
  position: absolute;
  top: 160px;
  left: 496px;
  right: 496px;
  bottom: 662px;
}

.trang-5 div:nth-child(2) {
  width: 370px;
  height: 467px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 271px;
  left: 135px;
  bottom: 140px;
  right: 935px;
}

.our-blog-1 p:nth-child(1) {
  color: #5F5B53;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  position: absolute;
  top: 270px;
  left: 30px;
  right: 217px;
  bottom: 171px;
}

.our-blog-1 div:nth-child(2) {
  width: 6px;
  height: 6px;
  flex-shrink: 0;
  background: #FFB900;
  border-radius: 25px;
  position: absolute;
  top: 280px;
  left: 20px;
  right: 344px;
  bottom: 181px;
}

.our-blog-1 img:nth-child(3) {
  width: 370px;
  height: 250px;
  flex-shrink: 0;
  border-radius: 16px 16px 0 0;
}

.our-blog-1 hr:nth-child(4) {
  width: 160px;
  height: 1px;
  flex-shrink: 0;
  border-radius: 0.5px;
  background: #E2DFDA;
  position: absolute;
  top: 300px;
  left: 20px;
  right: 190px;
  bottom: 158px;
}

.our-blog-1 p:nth-child(5) {
  color: #171100;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  position: absolute;
  top: 321px;
  left: 20px;
  right: 20px;
  bottom: 90px;
}

.our-blog-1 a:nth-child(6) {
  width: 118px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  color: #FFF;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 51px;
  position: absolute;
  top: 389px;
  left: 20px;
  right: 232px;
  bottom: 28px;
}

.read-more-1 {
  background: #FFB900;
}

.trang-5 div:nth-child(3) {
  width: 370px;
  height: 467px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 271px;
  left: 535px;
  right: 535px;
  bottom: 140px;
}

.read-more-2 {
  background: #171100;
}

.trang-5 div:nth-child(4) {
  width: 370px;
  height: 467px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 271px;
  left: 935px;
  bottom: 140px;
  right: 135px;
}

.read-more-3 {
  background: #171100;
}

.trang-5 div:nth-child(5),
div:nth-child(6),
div:nth-child(7) {
  width: 6px;
  height: 6px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #634700;
  display: flex;
  position: absolute;
}

.trang-5 div:nth-child(5) {
  position: absolute;
  top: 776px;
  bottom: 96px;
  right: 729px;
  left: 705px;
}

.trang-5 div:nth-child(6) {
  background: #FFB900;
  position: absolute;
  top: 776px;
  bottom: 96px;
  right: 717px;
  left: 717px;
}

.trang-5 div:nth-child(7) {
  position: absolute;
  top: 776px;
  bottom: 96px;
  right: 705px;
  left: 729px;
}

.trang-6 {
  width: 100%;
  height: 428px;
  flex-shrink: 0;
  background: #2E2100;
  position: relative;
}

.noi-dung-trang-6 img:nth-child(1) {
  position: absolute;
  top: 96px;
  left: 135px;
  right: 1220px;
  bottom: 298px;
}

.noi-dung-trang-6 p:nth-child(2) {
  width: 240px;
  color: #BFBCB2;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  position: absolute;
  top: 148px;
  left: 135px;
  right: 1038px;
  bottom: 202px;
}

.trang-6 div:nth-child(2) {
  width: 125px;
  height: 15px;
  flex-shrink: 0;
  position: absolute;
  top: 244px;
  left: 135px;
  right: 1194px;
  bottom: 169px;
  display: flex;
}

.social a:nth-child(1) {
  margin-right: 18px;
  width: 18px;
  height: 15px;
  flex-shrink: 0;
}

.social a:nth-child(2) {
  margin-right: 18px;
  width: 9px;
  height: 15px;
  flex-shrink: 0;
}

.social a:nth-child(3) {
  margin-right: 18px;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}

.social a:nth-child(4) {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}

.company p:nth-child(1) {
  color: #FFF;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  position: absolute;
  top: 96px;
  left: 547px;
  right: 811px;
  bottom: 304px;
}

.company hr:nth-child(2) {
  width: 130px;
  height: 1px;
  flex-shrink: 0;
  background: #59554B;
  position: absolute;
  top: 138px;
  left: 547px;
  right: 763px;
  bottom: 289px;
  margin: 0px;
  border: 0px;
}

.company p:nth-child(3) {
  color: #BFBCB2;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  position: absolute;
  top: 167px;
  left: 547px;
  right: 830px;
  bottom: 235px;
}

.company p:nth-child(4) {
  color: #BFBCB2;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  position: absolute;
  top: 205px;
  left: 547px;
  right: 832px;
  bottom: 197px;
}

.company p:nth-child(5) {
  color: #BFBCB2;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  position: absolute;
  top: 243px;
  left: 547px;
  right: 816px;
  bottom: 159px;
}

.company p:nth-child(6) {
  color: #BFBCB2;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  position: absolute;
  top: 281px;
  left: 547px;
  right: 810px;
  bottom: 121px;
}

.support p:nth-child(1) {
  color: #FFF;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  position: absolute;
  top: 96px;
  left: 807px;
  right: 568px;
  bottom: 304px;
}

.support hr:nth-child(2) {
  width: 130px;
  height: 1px;
  flex-shrink: 0;
  background: #59554B;
  position: absolute;
  top: 138px;
  left: 807px;
  right: 503px;
  bottom: 289px;
  margin: 0px;
  border: 0px;
}

.support p:nth-child(3) {
  color: #BFBCB2;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  position: absolute;
  top: 167px;
  left: 807px;
  right: 593px;
  bottom: 235px;
}

.support p:nth-child(4) {
  color: #BFBCB2;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  position: absolute;
  top: 205px;
  left: 807px;
  right: 496px;
  bottom: 197px;
}

.support p:nth-child(5) {
  color: #BFBCB2;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  position: absolute;
  top: 243px;
  left: 807px;
  right: 538px;
  bottom: 159px;
}

.support p:nth-child(6) {
  color: #BFBCB2;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  position: absolute;
  top: 281px;
  left: 807px;
  right: 555px;
  bottom: 121px;
}

.Address {
  color: #FFF;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  position: absolute;
  top: 96px;
  left: 1074px;
  right: 299px;
  bottom: 304px;
}

.address hr:nth-child(2) {
  width: 130px;
  height: 1px;
  flex-shrink: 0;
  background: #59554B;
  position: absolute;
  top: 138px;
  left: 1074px;
  right: 236px;
  bottom: 289px;
  margin: 0px;
  border: 0px;
}

.Location-1 {
  color: #FFF;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  position: absolute;
  top: 167px;
  left: 1074px;
  right: 135px;
  bottom: 209px;
}

.Location-2 {
  color: #BFBCB2;
}

.Email-1 {
  color: #FFF;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  position: absolute;
  top: 231px;
  left: 1074px;
  right: 190px;
  bottom: 171px;
}

.Email-2 {
  color: #BFBCB2;
}

.Phone-1 {
  color: #FFF;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  position: absolute;
  top: 269px;
  left: 1074px;
  right: 181px;
  bottom: 133px;
}

.Phone-2 {
  color: #BFBCB2;
}

.Copyright hr:nth-child(1) {
  width: 1170px;
  height: 1px;
  flex-shrink: 0;
  background: #59554B;
  margin: 0px;
  border: 0px;
  position: absolute;
  top: 345px;
  left: 135px;
  right: 135px;
  bottom: 82px;
}

.Copyright p:nth-child(2) {
  width: 357px;
  color: #807D74;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  position: absolute;
  top: 374px;
  left: 541px;
  right: 542px;
  bottom: 28px;
}
